# Composer
composer.phar
/vendor/

# Stubs
/stubs/*
!/stubs/BooleanProperty.lua
!/stubs/HorizonAsset.lua
!/stubs/LeaderboardMetadata.lua
!/stubs/LeaderboardValue.lua
!/stubs/Property.lua
!/stubs/PropertyBag.lua
